* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
  
  header, footer {
    flex: 0 0 auto;
  }
  
  .colored {
    color: #ed299b;
    white-space: nowrap;
  }
  
  /*--------------------
      Main Content
  --------------------*/
  .main {
    flex: 1 1 auto;
    overflow-y: auto;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 20px 50px;
  }
  
  .content {
    display: flex;
    align-items: flex-end;
  }
  
  .avatar-icon {
    width: 200px;
  }
  
  .contacts {
    text-align: center;
  
    font-size: 20px;
    font-weight: bold;
  }
  .contacts a {
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: black;
  
    margin-left: 0;
  }
  
  .contacts a + a {
    margin-left: 20px;
  }
  
  .description {
    margin-left: 60px;
  }
  .description h1 {
    font-size: 80px;
    font-weight: 400;
  }
  
  .numbers {
    display: flex;
    margin-top: 32px;
  }
  .numbers .numbers-item {
    margin-left: 0;
    max-width: 265px;
  
    display: flex;
    align-items: center;
  }
  .numbers .numbers-item + .numbers-item {
    margin-left: 40px;
  }
  .numbers .infoNumbers{
    font-size: 60px;
    line-height: 1;
    margin-right: 10px;
  }
  
  /*--------------------
      Footer styles
  --------------------*/
  footer {
    text-align: center;
    background: white;
    color: black;
    font-size: 14px;
    font-weight: 100;
    padding: 5px 50px;
  }
